<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.fss.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zx.fss.account.Menu">
        <id column="menu_id" property="menuId" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="menu_desc" property="menuDesc" />
        <result column="path" property="path" />
        <result column="parent_menu_id" property="parentMenuId" />
        <result column="icon" property="icon" />
        <result column="order_by" property="orderBy" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="creation_date" property="creationDate" />
        <result column="created_by" property="createdBy" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_code, menu_name, menu_desc, path, parent_menu_id, icon, order_by, enabled_flag, creation_date, created_by, last_update_date, last_updated_by, is_deleted
    </sql>

    <sql id="menu">
        m.menu_id          ,
        m.menu_code        ,
        m.menu_name        ,
        m.menu_desc        ,
        m.path             ,
        m.parent_menu_id   ,
        m.icon             ,
        m.order_by         ,
        m.enabled_flag     ,
        m.creation_date    ,
        m.created_by       ,
        m.last_update_date ,
        m.last_updated_by  ,
        m.is_deleted
    </sql>

    <resultMap id="childrenMap" type="com.zx.fss.account.Menu">
        <id column="menu_id" property="menuId" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="menu_desc" property="menuDesc" />
        <result column="path" property="path" />
        <result column="parent_menu_id" property="parentMenuId" />
        <result column="icon" property="icon" />
        <result column="order_by" property="orderBy" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="creation_date" property="creationDate" />
        <result column="created_by" property="createdBy" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="last_updated_by" property="lastUpdatedBy" />
        <result column="is_deleted" property="isDeleted" />
        <collection property="children" select="getChildren"
                    ofType="com.zx.fss.account.Menu"
                    column="menu_id=menu_id,userId=userId"
                    javaType="java.util.ArrayList"/>
    </resultMap>
    <select id="getChildren" resultMap="BaseResultMap">
        select
            <include refid="menu"/>
        from fss_menu m
        where m.is_deleted = 0
        and m.enabled_flag = 'Y'
        and m.parent_menu_id = #{menu_id}

        <!--
        from fss_menu m
        left join fss_resource res on res.menu_id = m.menu_id
        left join fss_role_resource rr on rr.resource_id = res.resource_id
        left join fss_user_role ur on ur.role_id = rr.role_id
        left join fss_user u on u.user_id = ur.user_id
        where m.is_deleted = 0
        and m.enabled_flag = 'Y'
        and m.parent_menu_id = #{menu_id}
        and res.is_deleted = 0
        and res.enabled_flag = 'Y'
        and u.user_id = #{userId}
        -->
    </select>


    <select id="getMenusByUserId" resultMap="childrenMap">
        select
            <include refid="menu"/>
            ,#{userId} as userId
        from fss_menu m where menu_code = 'top'
    </select>

</mapper>
